<h3>Post Form</h3>

<%= form_for(@post) do |f|%>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <%= f.text_area :description %><br>
  
  <%= f.submit %>
<% end %>

#refactor isn't quite done. If you had previous created a PUT route like 
#we did in the form_tag lesson, we'll need to change that to a 
#PATCH method since that is the HTTP verb that form_for utilizes.
#We can make that change in the config/routes.rb file